@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

*
  box-sizing:border-box

html, body
  margin:0
  padding:0

body
  font-size:16px
  font-family: 'Source Sans Pro'

.canvas
  position:relative
  display:block;
  //transform: translateY(25%)
  margin:2em auto 0 auto;
  background-repeat: no-repeat
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

.ibm
  vertical-align: middle
  display: inline-block

.right
  float:right