@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
@require 'drews-reset.styl'

*
  box-sizing:border-box

html, body
  margin:0
  padding:0

body
  font-size:16px
  font-family: 'Source Sans Pro'

.topbar
  display:flex;
  justify-content: space-between;
  align-items: top;
  padding:10px 15px;


.canvas
  position:relative
  display:block;
  //transform: translateY(25%)
  margin:2em auto 0 auto;
  background-repeat: no-repeat
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

.ibm
  vertical-align: middle
  display: inline-block

.right
  float:right

.world
  display:flex;


.flexy-workspace
    flex-grow:1;
    max-width:100%;
    transition: max-width 0.5s;
    &.collapsed
      max-width:0;

.toolbar-column
  min-width:200px;
  padding-left:20px;
  padding-right:20px;

.player-marker
  position:absolute;
  width:16px;
  height:16px;
  background: url(/images/ui/hank-walking.gif);


.toolmenu
  border:1px solid #ddd;

  .toolmenu-option-group
    padding:0.5em 0;
    border-bottom:1px solid #ddd;


.fixed-container
  position:fixed;
  width:160px; /* matches column. Need this for position fixed */


@require 'partials/*'