.toolmenu
  position:fixed;
  width:160px; /* matches column. Need this for position fixed */
  border:1px solid #ddd;

  .toolmenu-option-group
    padding:0.5em 0;
    border-bottom:1px solid #ddd;

  //.toolmenu-option
  //  display:block;
  //  text-decoration:none;
